[Unit]

Description=Bangumi Bot
After = network.target
[Service]
ExecStart=/home/harvey/.nvm/versions/node/v8.11.3/bin/node /home/harvey/Bangumi_Bot/index.js
